body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0d0d0d;
    color: #ffffff;
}

header {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #222;
}

.hero {
    padding: 60px;
    text-align: center;
}

.projects {
    padding: 40px;
}

.card {
    background: #1a1a1a;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    transition: 0.3s;
}

.card:hover {
    background: #333;
}

.about {
    padding: 40px;
}

footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #222;
}
.profile-img {
    width: 180px;
    border-radius: 10%;
    margin-bottom: 20px;
}
/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    color: black;
    padding: 10px 30px;
    position: sticky;
    top: 0;
}

/* LEFT SIDE */
.nav-left {
    display: flex;
    align-items: center;
}

.nav-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.nav-name {
    font-size: 18px;
    font-weight: bold;
}

/* RIGHT SIDE */
.nav-right {
    display: flex;
    gap: 15px;
}

.nav-link {
    text-decoration: none;
    color: black;
    padding: 6px 12px;
    border-radius: 5px;
    transition: 0.3s;
}

/* ACTIVE BUTTON (RED BOX) */
.nav-link.active {
    background: red;
    color: white;
}

/* HOVER EFFECT */
.nav-link:hover {
    background: red;
    color: white;
}
